body{
   background-color: #262424fb;
   color: aliceblue;
   
}
.principal{
    width: 100vw;
    height: 100vh;
    margin: 10px;
    background: url(../Assent/Animation/ft-principal_animation.gif)  no-repeat center fixed; 
    image-rendering: optimizeSpeed;
    
    
}
.container1{
    position: fixed;
    width:25%;
    height: 100%;
    border: 1px solid  #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgba(101, 92, 92, 0.123);
    z-index: 99;
}
.container2{
    width: 100%;
    display: flex;
    flex-direction:  column;
    align-items: center;
    

}
header{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    border: 1px solid  black;
    background-color: #262424fb;
    z-index: 99999;
}
header nav{
    border: 1px solid  red;
    width: 50%;
    margin: auto;
    text-align: center;
}
header nav ul{
    list-style: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
header nav ul li{
    padding-top: 5px;
    cursor: pointer;
    list-style: none;
}
header nav ul li a{
    color: aliceblue;
    text-decoration: none;
}
.content{
    border: 1px solid  #390a0a;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content p{
    font-size: 20px;
    line-height: 1.5rem;
    max-width:  50ch;
    letter-spacing: 2px;
    text-align: center;
     
}
.content :first-of-type{
    margin: auto;
}